<div id="subscribe" class="my-12">
    <iframe 
      id="subscribeFrame"
      src="/subscribe.html" 
      class="bg-transparent w-full max-w-3xl mx-auto block border border-gray-300 dark:border-gray-700"
      frameborder="0"
      scrolling="no"
      width="100%"
    ></iframe>
    <script>
      window.addEventListener("message", (event) => {
        if (event.data.iframeHeight) {
          const iframe = document.getElementById("subscribeFrame");
          if (iframe) {
            iframe.style.height = event.data.iframeHeight + "px";
          }
        }
      });
    </script>
  </div>